.card.card-body.bg-light.d-block.p-3.my-3
  .row
    .col-md-10
      = page_entries_info students, :model => 'student', :class => 'align-middle'
    .col-md-2
      = link_to "Reset filters", reset_filterrific_url, :class => 'btn btn-secondary align-middle'
  = render_filterrific_spinner

%table.table
  %tr
    %th= filterrific_sorting_link(@filterrific, :name)
    %th Email
    %th Country
    %th Registered at
  - students.each do |student|
    %tr.student
      %td.name= student.full_name
      %td.email= student.email
      %td.country= student.country_name
      %td.created_at= student.created_at.to_date.to_s(:long)

= will_paginate students, renderer: WillPaginate::ActionView::BootstrapLinkRenderer 
