.pb-2.mt-5.mb-5.border-bottom
  .row
    .h1.col-md-11 
      Students
    .col-md-1 
      = link_to 'Home', root_path, :style => 'display: inline-block; margin-top: 25px;'

.card.card-body.bg-light
  - puts @filterrific.inspect
  = form_for_filterrific @filterrific do |f|
    .row
      .col-md-3
        .form-group
          %label.font-weight-bold Search
          = f.text_field :search_query,
                         :class => 'filterrific-periodically-observed form-control'
      .col-md-3
        .form-group
          %label.font-weight-bold Country
          = f.select :with_country_id,
                     @filterrific.select_options[:with_country_id],
                     { :include_blank => '- Any -' },
                     { :class => 'form-control' }

      .col-md-3
        %label.font-weight-bold Registered after
        = f.text_field :with_created_at_gte,
                       :'id' => 'filterrific_with_created_at_gte',
                       :'class' => 'form-control datetimepicker-input',
                       :'data-target' => '#filterrific_with_created_at_gte',
                       :'data-toggle' => 'datepicker',
                       :'value' => '' 

      .col-md-3
        .form-group
          %label.font-weight-bold Sorted by
          = f.select :sorted_by,
                     @filterrific.select_options[:sorted_by],
                     {},
                     { :class => 'form-control' }

#results
  = render :partial => 'students/list',
           :locals => { :students => @students }

:javascript

    $('[data-toggle="datepicker"]').datepicker({
        autoHide: true,
        zIndex: 2048,
    });